* {
  box-sizing: border-box;
}
body{
  display: flex;
  text-align: center;
  justify-content: center;
  background: linear-gradient(#4B79A1, #283E51);
  min-height: 100vh;
}
button{
  cursor: pointer;
}
.App {
  width: 880px;
  height: 540px;
  border: 1px solid seagreen;
  justify-content: center;
  align-items: center;
}
.random-color{
  margin: 0 auto;
  width: 150px;
  height: 150px;
}
.color-btn{
  margin: 60px 10px;
  padding: 5px;
  width: 68px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: 1.2rem;
}
.olor-btn:hover {
  box-shadow: 0 0 10px 10px goldenrod;
}